<div id="categorieNew">
    <p class="lead">Créer une nouvelle catégorie</p>


    <form class="form-horizontal" role="form" name="form">
        <div class="form-group">
            <label for="categorie.nom" class="col-sm-2 control-label">Nom</label>
            <div class="col-sm-5">
                <input name="nom" type="text" class="form-control" id="categorie.nom" placeholder="Nom de la catégorie" ng-model="categorie.nom" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button class="btn btn-warning" ng-click="gotoCategorieListPage()">Annuler</button>
                &nbsp;
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="submit()">Valider</button>
            </div>
        </div>
    </form>

</div>