<div id="categorieNew">

	<form name="categorie" class="form-horizontal">
		<fieldset>
			<h4>Create a new category</h4>

			<accordion> <accordion-group
				heading="Name of your category" is-open="true"> <input
				id="categorie.nom" type="text" ng-model="categorie.nom"
				placeholder="Enter name of category..." required /> </accordion-group> </accordion>




			<button class="btn" ng-click="gotoCategorieListPage()">Back</button>
			&nbsp;
			<button class="btn btn-primary" ng-disabled="categorie.$invalid"
				ng-click="submit()">Save</button>
		</fieldset>



	</form>

</div>