.DS_STORE
.target
.project
.settings/*
.classpath
src/main/scripts/db/*
*/**/.DS_Store
target/*


db/db_test.0

db/db_test.1

db/db_test.ns

db/journal/lsn

db/db_production.0

db/db_production.1

db/db_production.ns

src/main/webapp/WEB-INF/spring.properties

src/main/webapp/WEB-INF/spring.properties
