<div id="articleList">

    <div class="col-md-10" role="main">
        <ul>
            <article class="articleClass"
                     ng-repeat="article in articles | filter: sharedProperties.getProperty()|filter:filterFunction">
                <div class="row row-container">
                    <div class="col-md-9 articleSeparation">
                        <h4>
                            <a href ng-click="gotoArticle(article)" ng-bind-html="article.titre"></a>
                        </h4>

                        <p class="muted">
                            <small> Article publié le {{article.dateCreation |
                                date:'MM/dd/yyyy'}} par <a href="" ng-click="goToArticleAuteur(article)">{{article.auteur.nom}}
                                    {{article.auteur.prenom}}</a>
                            </small>

                        </p>


                        <legend></legend>
                        <p ng-bind-html="article.resume"></p>

                        <p>
                            <a href ng-click="gotoArticle(article)" >Suite de l'article >></a>
                        </p>

                    </div>
                    <div class="col-md-3" role="main">

                        <div class="categorieImg">
                            <label class="labelCategorie">{{article.categorie.nom}}</label>
                        </div>

                        <a twitter  data-text='Testing Twitter Share'></a>

                        <div class="g-plusone" data-annotation="inline" data-width="200" ></div>

                    </div>
                </div>
            </article>
        </ul>
    </div>
</div>