<div class="col-md-10" role="main">
    <ul>
        <div class="row row-container">
            <div class="col-md-9 articleSeparation">
                <h4 ng-bind-html="article.titre"></h4>

                <p class="muted">
                    <small>Article publié le {{article.dateCreation |
                        date:'dd/MM/yyyy'}} par <a href="" ng-click="goToArticleAuteur(article)">{{article.auteur.nom}}
                            {{article.auteur.prenom}}</a>
                    </small>
                    <br/>
                    <small>Commentaires: <a href="" ng-click="goToComments()">{{article.commentaires.length}}</a>
                    </small>
                </p>
            </div>
            <div class="col-md-3" role="main">

                <div class="categorieImg">
                    <label class="labelCategorie">{{article.categorie.nom}}</label>
                </div>

                <a twitter data-url='#/article/{{article.id}}' data-text='Testing Twitter Share'></a>

                <div class="g-plusone" data-annotation="inline" data-width="200"
                     href="#/article/{{article.id}}"></div>
            </div>
        </div>
        <legend class="legend_article_detail"></legend>
        <article ng-bind-html="article.article"></article>
        <br/>
        <legend id="titleComment" class="legend_article_detail"></legend>
        <p class="lead">Autres articles</p>

        <div
                ng-repeat="otherArticle in otherArticles |filter:{valide:true,id:'!'+article.id,categorie:article.categorie}">
            <a href="#/article/{{otherArticle.id}}">
                {{otherArticle.dateCreation | date:'dd/MM/yyyy'}} -
                {{otherArticle.titre}}</a>
        </div>
        <br/>
        <legend class="legend_article_detail"></legend>
        <p class="lead">Commentaires ({{article.commentaires.length}})</p>

        <div class="alert alert-info" ng-repeat="commentaire in article.commentaires">
            <small>{{commentaire.email}} a écrit le
                {{commentaire.dateCreation | date:'dd/MM/yyyy'}} :
            </small>
            <br/>
            <label>{{commentaire.commentaire}}</label>
        </div>

        <p class="lead ">Laissez un commentaire</p>

        <form class="form-horizontal" role="form" name="commentaireForm" novalidate
              ng-submit="submitForm();">
            <div class="form-group">
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="commentaire.email"
                           ng-model="commentaire.email" placeholder="Entrez votre Email" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <textarea class="form-control" type="text" rows="3" id="commentaire.commentaire"
                              ng-model="commentaire.commentaire" placeholder="Entrez votre message"
                              required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-default"
                            ng-disabled="commentaireForm.$invalid">Valider
                    </button>
                </div>
            </div>
        </form>

        <button class="btn btn-warning" ng-click="gotoArticleListPage()">Retour</button>
    </ul>
</div>