<div id="auteurList">
    <p class="lead">Administration des utilisateurs</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Mail de l'utilisateur</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="auteur in auteurs">
            <td>{{$index}}</td>
            <td>{{auteur.email}}</td>
            <td><a href="#/auteur/update/{{auteur.id}}"><span class="glyphicon glyphicon-pencil"></span>
            </a> <a ng-click="deleteAuteur(auteur)"><i
                    class="icon-trash"></i><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" ng-click="gotoAuteurNewPage()">Créer
    </button>

</div>