<div id="auteurNew">

	<form name="auteur" class="form-horizontal">
		<fieldset>
			<h4>Modify author</h4>
			<accordion close-others="false"> <accordion-group
				heading="Email of your author" is-open="true"> <input
				disabled id="auteur.email" type="text" ng-model="auteur.email" /> </accordion-group> <accordion-group
				heading="Name of your author" is-open="true"> <input
				id="auteur.nom" type="text" ng-model="auteur.nom"
				placeholder="Enter your name..." required /> </accordion-group> <accordion-group
				heading="First Name of your author" is-open="true">
			<input id="auteur.prenom" type="text" ng-model="auteur.prenom"
				placeholder="Enter your first name..." required /> </accordion-group> <accordion-group
				heading="Password of your author" is-open="true">
			<input id="auteur.password" type="password"
				ng-model="auteur.password" placeholder="Enter your password..."
				required /> </accordion-group> <accordion-group heading="Role of your author"
				is-open="true"> <input id="auteur.admin"
				type="checkbox" ng-model="auteur.admin" /> Admin</accordion-group> </accordion>



			<br />
			<button class="btn" ng-click="gotoAuteurListPage()">Back</button>
			&nbsp;
			<button class="btn btn-primary" ng-disabled="auteur.$invalid"
				ng-click="submit()">Save</button>
		</fieldset>



	</form>

</div>