<div id="auteurNew">
    <p class="lead">Créer un nouveau utilisateur</p>

    <form name="auteur" class="form-horizontal">

        <div class="form-group">
            <label for="auteur.email" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-5">
                <input name="nom" type="text" class="form-control" id="auteur.email" placeholder="Mail de l'utilisateur"
                       ng-model="auteur.email" disabled required>
                <span ng-show="erreur"
                      class="label label-important">Cette adresse Mail existe déjà.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="auteur.nom" class="col-sm-2 control-label">Nom</label>

            <div class="col-sm-5">
                <input name="nom" type="text" class="form-control" id="auteur.nom" placeholder="Nom de l'utilisateur"
                       ng-model="auteur.nom" required>
            </div>
        </div>


        <div class="form-group">
            <label for="auteur.prenom" class="col-sm-2 control-label">Prénom</label>

            <div class="col-sm-5">
                <input name="nom" type="text" class="form-control" id="auteur.prenom"
                       placeholder="Prénom de l'utilisateur" ng-model="auteur.prenom" required>
            </div>
        </div>

        <div class="form-group">
            <label for="auteur.password" class="col-sm-2 control-label">Mot de passe</label>

            <div class="col-sm-5">
                <input name="nom" type="text" class="form-control" id="auteur.password"
                       placeholder="Mot de passe de l'utilisateur" ng-model="auteur.password" required>
            </div>
        </div>

        <div class="checkbox">
            <label for="auteur.admin" class="col-sm-2 control-label">Rôle de l'utilisateur</label>
            <label>
                <input name="admin" type="checkbox" id="auteur.admin" ng-model="auteur.admin">
                Admin
            </label>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button class="btn btn-warning" ng-click="gotoAuteurListPage()">Annuler</button>
                &nbsp;
                <button type="submit" ng-disabled="auteur.$invalid" class="btn btn-primary" ng-click="submit()">
                    Valider
                </button>
            </div>
        </div>

    </form>

</div>