<div class="modal-header">
    <h3>Identification</h3>
</div>
<form class="form-horizontal" name="form" role="form" novalidate>
    <div id="loginAlert">
        <span ng-hide="erreurLoginPassword" class="label label-danger text-error">L'adresse email ou le mot de passe est incorrect</span>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-3 control-label" for="user.email">Email</label>

            <div class="col-sm-5">
                <input type="email" class="form-control" id="user.email" placeholder="Email" ng-model="user.email"
                       name="email" required>
            </div>
            <div ng-show="form.email.$dirty && form.email.$invalid">
                <span ng-show="form.email.$error.required" class="label label-danger">L'email est obligatoire.</span>
                <span ng-show="form.email.$error.email" class="label label-danger">Le format de l'email n'est pas valide.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="user.password">Mot de passe</label>

            <div class="col-sm-5">
                <input type="password" class="form-control" id="user.password" placeholder="Password"
                       ng-model="user.password" ng-enter="login()" required>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="annuler()">Annuler</button>
        <button class="btn btn-primary" ng-click="login()" ng-disabled="form.$invalid" focus-me="!form.$invalid" >Connexion</button>
    </div>

</form>