/* app css stylesheet */
/*redefinition de classe bootstrap*/
.footer {
	background-color: #f5f5f5;
	border: 1px solid #d4d4d4;
	color: #777;
	text-align: center;
}

.header_place {
	margin: 50px;
}

.title {
	font-size: 31.5px;
	margin-top: 10px;
	cursor: default;
	font-family: "Times" !important;
	float: left;
	display: block;
	text-decoration: none;
}

.span2>p {
	text-align: justify;
	color: #777;
}

.presentation {
	font-size: 16.5px;
	margin: 0;
	color: #777;
}

.title .premiere {
	text-decoration: none;
	color: rgb(209, 11, 11)
}

.title .deuxieme {
	text-decoration: none;
	color: #333333;
}

.deuxieme {
	text-decoration: none;
	color: #333333;
}

.title .troisieme {
	text-decoration: none;
	color: rgb(209, 11, 11);
}

.troisieme {
	text-decoration: none;
	color: rgb(209, 11, 11);
}

.title .quatrieme {
	text-decoration: none;
	color: #333333;
}

.quatrieme {
	text-decoration: none;
	color: #333333;
}

.quatrieme_search {
	float: right;
	margin-top: -29px;
	margin-right: -7px;
}

.container .nav {
	float: right;
}

.dropCategorie {
	cursor: pointer;
}

.container .container-fluid {
	float: right;
	margin-top: 2px;
}

#searchText {
	margin: 4px;
}

#menuAdmin >ul >li {
	cursor: pointer;
}