<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       	xmlns:p="http://www.springframework.org/schema/p" 
       	xmlns:c="http://www.springframework.org/schema/c"
       	xmlns:tx="http://www.springframework.org/schema/tx"
       	xmlns:context="http://www.springframework.org/schema/context"
    	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       	xmlns:util="http://www.springframework.org/schema/util"
       	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.2.xsd
   			http://www.springframework.org/schema/data/mongo
   			http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
			http://www.springframework.org/schema/util 
			http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<context:property-placeholder properties-ref="deployProperties" />

	<!-- Activate Spring Data MongoDB repository support -->
  	<mongo:repositories base-package="fr.luya.blog.repository" />
  	
  	<!-- MongoDB configuration -->
<!-- 	<mongo:mongo host="${mongodb.host}" port="${mongodb.port}"/> -->

<!-- 	<bean id="userCreds" class="org.springframework.data.authentication.UserCredentials"> -->
<!-- 		<constructor-arg value="${mongodb.username}" /> -->
<!--         <constructor-arg value="${mongodb.password}" /> -->
<!--     </bean> -->

<!-- 	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate"> -->
<!-- 		<constructor-arg ref="mongo" /> -->
<!-- 		<constructor-arg value="${mongodb.database}" /> -->
<!-- 		<constructor-arg ref="userCreds" /> -->
<!-- 	</bean> -->
	<bean id="mongoTemplate" class="org.springframework.data.document.mongodb.MongoTemplate">
        <constructor-arg name="mongo" ref="mongo"/>
        <constructor-arg name="databaseName" value="${mongodb.dbname}"/>
        <constructor-arg name="userCredentials" ref="mongoCredentials"/>
    </bean>

    <bean id="mongoCredentials" class="org.springframework.data.authentication.UserCredentials">
        <property name="username" value="#{mongoURI.username}" />
        <property name="password" value="#{new java.lang.String(mongoURI.password)}" />
    </bean>

    <bean class="com.mongodb.MongoURI" id="mongoURI">
        <constructor-arg value="${mongodb.url}"  />
    </bean>

    <bean class="com.mongodb.Mongo" id="mongo">
        <constructor-arg ref="mongoURI" />
    </bean>
	
</beans>